{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TALLER 153 - DASHBOARD</title>
    <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">

    {% tailwind_css %}
</head>
<body>
    <div class="flex">
        <div class="bg-dark-purple h-screen p-5 pt-8 w-72 r">





        </div>
    </div>
    <a href="{% url 'logout' %}">Cerrar sesión</a>
    
</body>
</html>
