# Entorno virtual de Python
venv/
__pycache__/
db.sqlite3
.env

# Node modules y logs
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.npm
.yarn-integrity
.env.local
.env.development.local
.env.test.local
.env.production.local

# Sistema operativo
.DS_Store
Thumbs.db

# IDE y editores
.idea/
.vscode/
*.swp
*.swo
*~

# Elimina estas líneas ya que necesitamos estos archivos
# staticfiles/
# dist/
# dashboard/static/js/react/dist/
# *.bundle.js
# *.bundle.js.map
# build.sh
# .theme