{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="html">
    <meta name="author" content="Richard Rocuant">
    <title>Cambiar Contraseña</title>
    {% tailwind_css %}
    <script>
        // JavaScript para redirigir al login después de 3 segundos con una cuenta regresiva actualizada
        function redirigirAlLogin() {
            let segundos = 3;
            const cuentaRegresiva = setInterval(function() {
                if (segundos > 0) {
                    document.getElementById('contador').textContent = segundos;
                    segundos--;
                } else {
                    clearInterval(cuentaRegresiva);
                    window.location.href = "{% url 'login' %}";
                }
            }, 1000); // Actualiza cada segundo
        }
    </script>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="nueva_contraseña">Nueva Contraseña:</label>
            <input type="password" name="nueva_contraseña" required>
        </div>
        <div>
            <label for="confirmar_contraseña">Confirmar Contraseña:</label>
            <input type="password" name="confirmar_contraseña" required>
        </div>
        <button type="submit">Cambiar Contraseña</button>
        
        {% if message %}
            <p class="{% if message_type == 'success' %}success{% else %}error{% endif %}">{{ message }}</p>
            
            {% if redirect_to_login %}
                <!-- Llama a la función que redirige al login con la cuenta regresiva -->
                <script>
                    redirigirAlLogin();
                </script>
                <p>Serás redirigido al inicio de sesión en <span id="contador">3</span> segundos...</p>
            {% endif %}
        {% endif %}
    </form>
    
</body>
</html>
